.pings {
  display: flex;
  flex-direction: row;
  height: 150px;
  width: 800px;
  overflow-y: hidden;
  .ping-bar {
    padding: 1px;
    border: 1px solid black;
    margin: auto 0 0 1px;
    width: 1px;
    background: green;
  } & .error {
    background: red;
  }
}

.status {
  margin: 20px 10px;
  display: flex;
  border-bottom: 1px solid #EEE;
  padding-bottom: 40px;
}

.name-and-url {
  min-width: 200px;
  .url {
    color: grey;
  }
}

.title {
  font-weight: bold;
}

.delete-btn-container, .avg {
  min-width: 100px;
}

.name-and-url, .avg, .delete-btn-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
